
.navbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-bottom: 0px;
  text-decoration-color: blue;
  background-color: rgb(239, 239, 239);
  /* justify-content: center;
  justify-items: center; */
  /* justify-content: space-between;
  padding-left: 30px; */
  /* background-color:  rgb(168, 183, 229); */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(246, 221, 77, 0.695); */
}

.nav-item.dropdown .nav-link {
  color: blue;
}

.nav-item {
  display: inline-block;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-toggler {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 6px;
}

#categories {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
/* .nav-row {
  background-color: rgb(126, 147, 210);
  margin-bottom: 0; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; */


.title  {
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding: 5px;
  margin:0;
  color: rgb(80, 80, 87);
  /* background: radial-gradient(#bd6a6a, #db9696, white, white); */
}
 
  /* margin-left: 20px;
  margin-right: auto; */


/* #space {
  width: 350px;
} */

#yellow-lego {
  width: 36px;
  height: 36px;
}

#blue-lego {
  width: 36px;
  height: 36px;
}

#create-category-button {
  width: 100px;
  height: 30px;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color:  white;
  border-color: blue;
  color: blue;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 0;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.19);
} 


.lego-links {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  width: 100 vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color:white;
  box-shadow: 0 3px 3px 0 rgb(71, 71, 182), 0 6px 6px 0 red, 0 9px 9px 0 rgb(168, 229, 120), 0 12px 12px 0 rgba(246, 221, 77, 0.695);
}

.nav-link-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 1;
  padding-bottom: 5px;
}

.nav-lego-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  flex-shrink: 2;
  margin-bottom: 5;
}

col {
  display: flex;
  flex-direction: column;
}

#lego-links-row {
  padding: 0;
  margin: 0;
  background-color: rgb(239, 239, 239);
  font-size: 18px;

}

body {
  background-color: rgb(239, 239, 239);

}

#lego-site {color: red}
#brickset {color: rgb(235, 135, 27)}
#rebrickable {color: green}

.category-heading {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
  padding: 40px;
}

.add-button {
  width: 120px;
  height: 40px;
  align-self: center;
  margin-right: 0;
  margin-left: auto;
  border-width: 3px;
  font-weight: 600;
}

#add-button-botanical {
  color: rgb(54, 125, 10);
  border-color: rgb(54, 125, 10);
}

#add-button-disney {
  color: rgb(134, 74, 186);
  border-color: rgb(134, 74, 186);
}

#add-button-hp {
  color: rgb(223, 207, 58);
  border-color:rgb(223, 207, 58);
}

#add-button-botanical:hover {
  background-color: rgb(54, 125, 10);
  color: white;
}

#add-button-disney:hover {
  background-color: rgb(134, 74, 186);
  color: white;
}

#add-button-hp:hover {
  background-color: rgb(223, 207, 58);
  color: white;
}

#delete-button:hover {
  background-color: red;
  color: white;
}

.category-title {
  align-self: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

#botanical-heading {
  color: rgb(54, 125, 10);
}

#disney-heading {
  color: rgb(134, 74, 186);
}

#hp-heading {
  color: rgb(223, 207, 58);
}

.botanical {
  color: rgb(54, 125, 10);
}

.disney {
  color: rgb(134, 74, 186);
}

.hp {
  color: rgb(223, 207, 58);
}

.modal-body {
  background-color: rgb(229, 227, 227);
}

.accordion-button :focus {
  outline: none;
}

.accordion-header .accordion-button {
  background-color: rgb(192, 228, 190);
  height: 110px;
  outline: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(192, 228, 190);
  height: 60px;
  font-size-adjust: smaller;
}
.accordion-button:not(.collapsed) .set-name {
  text-decoration: underline;
  margin-left: 3rem;
  outline: none;
}

.accordion button,
.accordion a {
  outline: none;
}

.accordion-button:not(.collapsed) .main-image {
  display: none;
}

.accordion-body {
  background-color: rgb(192, 228, 190);
  outline: none;
}

.add-image {
  min-height: 150px;
  min-width: 150px;
  padding: 0;
  width: 100%;
  height: 100%;
}

.cover-image:hover {
  z-index: 15;
  transform: scale(1.2);
}

.add-image:hover {
  /* width: 200%; */
  z-index: 15;
  transform: scale(1.4);
  /* border: 20px white solid; */
}

.lego-link {
  color: rgb(54, 125, 10);
}

.lego-link:hover {
  color: rgb(31, 78, 2);
  transform: scale(1.2);
}

.photos {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

#delete-button {
  height: 24px;
  width: 60px;
  margin-left: -10px;
  margin-bottom: -5px;
  font-size: small;
  text-align: center;
  text-justify: center;
  padding: 0;
  opacity: 80%;
}

#update-button {
  height: 24px;
  width: 60px;
  margin-right: -10px;
  margin-right: 16px;
  margin-bottom: -5px;
  font-size: small;
  text-align: center;
  text-justify: center;
  padding: 0;
  opacity: 80%;
}

.required {
  color: red;
}

.display-current-cover-image {
  width: 80px;
  height: 80px;
}

.display-current-image {
  width: 70px;
  height: 70px;
}

#update-botanical-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#delete-botanical-modal {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  justify-content: center;
}


.delete-modal-footer {
  display: flex;
  flex-direction: column;
}

.col-7 {
  align-items: center;
  justify-content: center;
  align-content: center;
}

#update-modal-width {
  width: 120%;
}

.lower-label {
  margin-bottom: -10px;
}

.availability-dropdown {
  width: 220px;
  height: 36px;
}

#availability {
  height: 36px;
  width: 142px;
}

.scrollable-input {
  overflow-x: auto;
}

.scrollable-placeholder {
  overflow-x: auto;
}

.scrollable-placeholder::placeholder {
  overflow-x: auto;
  white-space: nowrap;
}

.scrollable-placeholder::-webkit-input-placeholder {
  /* WebKit browsers */
  overflow-x: auto;
  white-space: nowrap; /* Prevents wrapping of placeholder text */
}

#button-box {
  display: flex;
  justify-content: end;
}

/* #photo-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
} */