.category-heading {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 30px;
  padding: 40px;
}

.add-button {
  width: 120px;
  height: 40px;
  align-self: center;
  margin-right: 0;
  margin-left: auto;
  border-width: 3px;
  font-weight: 600;
}

#add-button-botanical {
  color: rgb(54, 125, 10);
  border-color: rgb(54, 125, 10);
}

#add-button-botanical:hover {
  background-color: rgb(54, 125, 10);
  color: white;
}

.category-title {
  align-self: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

#botanical-heading {
  color: rgb(54, 125, 10);
}

.botanical {
  color: rgb(54, 125, 10);
}

.modal-body {
  background-color: rgb(229, 227, 227);
}

.accordion-button :focus {
  outline: none;
}

.accordion-header .accordion-button {
  background-color: rgb(192, 228, 190);
  height: 110px;
  outline: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(192, 228, 190);
  height: 60px;
  font-size-adjust: smaller;
}
.accordion-button:not(.collapsed) .set-name {
  text-decoration: underline;
  margin-left: 2rem;
  outline: none;
}

.accordion button,
.accordion a {
  outline: none;
}

.accordion-button:not(.collapsed) .main-image {
  display: none;
}

.accordion-body {
  background-color: rgb(192, 228, 190);
  outline: none;
}

.add-image {
  min-height: 150px;
  min-width: 150px;
  padding: 0;
  width: 100%;
}

.cover-image:hover {
  z-index: 5;
  transform: scale(1.1);
}

.add-image:hover {
  /* width: 200%; */
  z-index: 5;
  transform: scale(1.4);
  /* border: 20px white solid; */
}

.lego-link {
  color: rgb(54, 125, 10);
}

.lego-link:hover {
  color: rgb(31, 78, 2);
  transform: scale(1.2);
}

/* #notes-section {
  border-width: 2px;
  border-color: rgb(196, 171, 7);
} */

/* .accordion-header .accordion-button {
  background-color: rgb(192, 228, 190);
  height: 110px;
  outline: none;
} */

/* .accordion-button:not(.collapse) {
  background-color: rgb(192, 228, 190);
  height: 60px;
  font-size-adjust: smaller;
  outline: none;
} */

/* .accordion button,
.accordion a {
  outline: none;
}

.accordion-body {
  background-color: rgb(192, 228, 190);
  outline: none;
} */
