
.accordion-header .accordion-button {
    background-color:rgb(236, 229, 147);
    height:110px;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(236, 229, 147);
    height: 46px;
    padding-top:22px;

}



.harry-potter-item {
    border-color: rgb(196, 171, 7);
    border-width: 4px;
}

.accordion-button:not(.collapsed) .set-name {
    text-decoration: underline;
    margin-left: 2rem;
 
}


.accordion-button:not(.collapsed) .main-image {
    display: none;
}

.accordion-body {
    background-color: rgb(236, 229, 147);
}

.add-image {
    /* min-height: 150px;
    min-width: 150px;
    padding: 0; */
    width: 100%;
}

/* .add-image:hover {
    width: 140%;

} */

#notes-section {
    border-width: 2px;
    border-color:  rgb(196, 171, 7);
}



/* .accordion {
--bs-accordion-active-color: red;

--bs-accordion-active-bg: purple;

} */

/* 

.accordion

.accordion-header,  .accordion-button {
    height: 100px;
--bs-accordion-active-height: 5px;
/* --bs-accordion-active-bg: purple; */
